/* DEVELOPER TEAM */
.developer {
  padding: 50px 20px;
  text-align: center;
}

.developer h2 {
  color: #4f46e5;
  margin-bottom: 5px;
}

.developer p {
  color: #6b7280;
  margin-bottom: 30px;
}

.dev-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.dev-card {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.dev-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dev-card h3 {
  margin-bottom: 5px;
}

.dev-card p {
  font-weight: bold;
  color: #4f46e5;
}

.dev-card span {
  font-size: 13px;
  color: #6b7280;
}
