/* CONTACT PAGE */
.contact {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  color: #4f46e5;
  margin-bottom: 10px;
}

.contact p {
  color: #374151;
  margin-bottom: 30px;
}

.contact-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: left;
}

.contact-form {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #4338ca;
}
