body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

/* HEADER */
.dash-header {
  background: #4f46e5;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash-header button {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* MAIN */
.container {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 15px;
  color: #4f46e5;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 100px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #4338ca;
}

/* NOTES */
#notesList {
  list-style: none;
  padding: 0;
}

.note {
  background: #eef2ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.note h4 {
  margin: 0;
}

.note button {
  margin-top: 5px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
